#dropdown1{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buy-dropdown-text {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02px;
    cursor: pointer;
}

.buy-dropdown-icon {
    margin-left: 5px;
    color: white;
    font-size: 2rem !important;
}

.dd-city-list {
    font-size: 16px;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.MuiInputBase-root .MuiOutlinedInput-root .MuiAutocomplete-inputRoot .MuiInputBase-fullWidth .MuiInputBase-formControl .MuiInputBase-adornedEnd .MuiOutlinedInput-adornedEnd {
    padding: 0 !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0 !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
    padding: 0 0 0 10px !important;
    margin: 0 !important;
}
.phone-number {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.02;
    border: 0px !important;
}
.phone-number-ham>a {
    color: white;
}
.phone-number-ham:hover >a {
    color: black;
}
.icon-img {
    margin-right: 10px;
    cursor: pointer;
}
.social-icon-img {
    margin-right: 15px;
}
.menu-icons{
    cursor: pointer;
}
.phone-number-container{
    display: flex;
    justify-content: space-between;
}
.small-hr {
    margin: 30px 0 10px 50px;
    width: 120px;
}