#LocateStore {
  background-color: #f7f7f7;
  background-image: url('../../assets/icons/store-locator-image.png');
  background-repeat: no-repeat;
  background-size: 1332px 233px;
  background-position-y: 375px;
  background-position-x: 80px;
}
.navigation-bar {
  height: 118px;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.jumbotron {
  padding: 40px 40px 123px 40px;
}
.locateDropdownCard {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 15px 20px;
  margin: 0 0 60px 0;
}
.locateDropdownCard ul {
  list-style: none;
  margin: 0 0 24px;
}
.locateDropdownCard ul li {
  background: none;
  display: inline-block;
  padding: 0;
}
.locateDropdownCard ul li a {
  color: #707575;
}
.locateDropdownCard ul li.current {
  font-weight: bold;
}
.locateDropdownCard h1 {
  font-size: 36px;
  font-weight: bold;
}
.locateDropdownCard p {
  font-size: 16px;
  margin: 8px 0 0;
}
.custom-drop {
  width: 500px;
  height: 60px;
  border-radius: 4px;
  line-height: 60px;
  text-transform: none;
  text-align: left;
  font-size: 16px;
  color: #232b2b;
}
.custom-drop-mobile {
  width: 195px;
  height: 60px;
  border-radius: 4px;
  line-height: 62px;
  text-transform: none;
  text-align: left;
  font-size: 13px;
}
.custom-drop span {
  margin-left: 5px;
}
.custom-drop img:first-child {
  float: left;
  margin-top: 13.55px;
  padding-right: 10px;
}
.custom-drop img:nth-child(3) {
  float: right;
  margin-top: 24.5px;
}
.locateDropdownCard .row {
  display: flex;
  justify-content: center;
}
.locateDropdownCard .input-field {
  margin: 15px 0px;
  padding: 0px 10px 0px 25px;
}
.seacrh-location-button {
  width: 60px;
  height: 60px;
  background-color: #ff0000;
  border-radius: 3px;
  margin-top: 49px;
  margin-left: 5px;
  padding: 13px;
  cursor: pointer;
}
.locateDropdownCard .input-field p {
  margin-left: 5px;
  margin-bottom: 4px;
  letter-spacing: 0.47px;
  color: #232b2b;
  font-size: 15px;
}
.mapHeading {
  letter-spacing: 1.07px;
  color: #ff0000;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}
.heading-lines {
  text-align: center;
  margin: 20px 0px 30px 0px;
}
.locationCard {
  border: solid 1px rgba(35, 43, 43, 0.4);
  border-radius: 4px;
  padding: 10px 10px;
}
.locationCard h5 {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.23px;
}
.locationAddress {
  opacity: 0.76;
  font-size: 13px;
  letter-spacing: 0.18px;
  padding: 10px 10px;
  min-height: 80px;
}
.mapContainer {
  width: 372px;
  height: 400px;
}
