.wapper {
    margin: 40px auto;
}
.franchise-heading{
    padding-top: 43.8px;
    padding-bottom: 15px;
    font-weight: 800;
    font-size: 36px;
    color: #232c2b;
}
.about-bb{
    margin: 20px 0px !important;
    font-size: 18px;
    letter-spacing: 0.53px;
    line-height: 26px;
}
#shareDetails{
    margin-bottom: 20px;
}
.redhead{
    letter-spacing: 1.07px;
    color: #ff0000;
    font-size: 34px;
    font-weight: bold;
}
.paper{
    border-radius: 4px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px 20px;
    margin: 0 0px 40px 0;
}