@font-face {
  font-family: "RupeeForadian";
  src: url("../../assets/fonts/RupeeForadian.eot");
  src: url("../../assets/fonts/RupeeForadian.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/RupeeForadian.woff") format("woff"),
    url("../../assets/fonts/RupeeForadian.ttf") format("truetype"),
    url("../../assets/fonts/RupeeForadian.svg#RupeeForadian") format("svg");
  font-weight: normal;
  font-style: normal;
}

.filter {
  width: 300px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.filter h5 {
  font-size: 16px;
  padding: 29px 0 13px;
}
.filterSec {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.filterSec .CityWidget,
.filterSec .BudgetWidget,
.filterSec .BrandWidget,
.filterSec .YearWidget,
.filterSec .kmWidget {
  padding: 18px 18px 0;
  margin: 0;
}
.filterSec .CityWidget h3.WidgetTitle,
.filterSec .BudgetWidget h3.WidgetTitle,
.filterSec .BrandWidget h3.WidgetTitle,
.filterSec .YearWidget h3.WidgetTitle,
.filterSec .kmWidget h3.WidgetTitle {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.filterSec .CityWidget h3.WidgetTitle a,
.filterSec .BudgetWidget h3.WidgetTitle a,
.filterSec .BrandWidget h3.WidgetTitle a,
.filterSec .YearWidget h3.WidgetTitle a,
.filterSec .kmWidget h3.WidgetTitle a {
  color: #000000;
}
.filterSec .CityWidget .WidgetBody,
.filterSec .BudgetWidget .WidgetBody,
.filterSec .BrandWidget .WidgetBody,
.filterSec .YearWidget .WidgetBody,
.filterSec .kmWidget .WidgetBody {
  padding: 17px 0 15px;
  border-bottom: solid 1px #e5e5e5;
}
.filterSec .CityWidget .WidgetBody ul.cat-list {
  list-style: none;
}
.filterSec .CityWidget .WidgetBody ul.cat-list li {
  padding: 6px 0;
  font-size: 16px;
}
.filterSec .CityWidget .WidgetBody ul.cat-list li a {
  color: #000000;
}

.filterSec .kmWidget .WidgetBody {
  border-bottom: none;
}

.filterSec .BudgetWidget .WidgetBody ul.list,
.filterSec .BrandWidget .WidgetBody ul.list,
.filterSec .YearWidget .WidgetBody ul.list {
  list-style: none;
}
.filterSec .BudgetWidget .WidgetBody ul.list li,
.filterSec .BrandWidget .WidgetBody ul.list li {
  padding: 6px 0;
  font-weight: 100;
}
.filterSec .BudgetWidget .WidgetBody ul.list li label,
.filterSec .BrandWidget .WidgetBody ul.list li label,
.filterSec .YearWidget .WidgetBody ul.list li label {
  cursor: pointer;
}
.filterSec .BudgetWidget .WidgetBody ul.list li label span,
.filterSec .BrandWidget .WidgetBody ul.list li label span,
.filterSec .YearWidget .WidgetBody ul.list li label span {
  font-size: 16px !important;
  color: #000000;
  padding: 2px 0 0;
}
.filterSec .BudgetWidget .WidgetBody ul.list li label input.BudgetBox,
.filterSec .BrandWidget .WidgetBody ul.list li label input.BudgetBox,
.filterSec .YearWidget .WidgetBody ul.list li label input.BudgetBox {
  margin-right: 0.4rem;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}
.filterSec .BudgetWidget .WidgetBody ul.list li label span,
.filterSec .BrandWidget .WidgetBody ul.list li label span,
.filterSec .YearWidget .WidgetBody ul.list li label span {
  display: inline;
  padding-left: 25px;
  font-size: 19px;
}
.filterSec .BudgetWidget .WidgetBody ul.list li label a,
.filterSec .BrandWidget .WidgetBody ul.list li label a,
.filterSec .YearWidget .WidgetBody ul.list li label a {
  font-size: 16px;
  color: #000000;
}
.filterSec .BudgetWidget .WidgetBody ul.list li label a strong,
.filterSec .BrandWidget .WidgetBody ul.list li label a strong,
.filterSec .YearWidget .WidgetBody ul.list li label a strong {
  font-family: RupeeForadian;
  font-size: 18px;
  color: #000000;
}

.filterSec .YearWidget .WidgetBody ul.list li {
  width: 50%;
  float: left;
  padding: 6px 0;
}

[type="checkbox"].filled-in:not(:checked) + span:not(.lever)::after {
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #d3d5d5;
  top: 0px;
  z-index: 0;
  margin-top: 3px;
}
[type="checkbox"].filled-in:checked + span:not(.lever)::after {
  border: 1px solid #ff0000 !important;
  background-color: #ff0000;
  background-image: url("../../assets/icons/tick.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 18px;
  width: 18px;
  margin-top: 3px;
}

.filterSec .CityWidget .WidgetBody input[type="text"] {
  padding: 6px 10px;
  font-size: 17px;
  border: solid 1px rgba(35, 43, 43, 0.4);
  background: #fff;
  width: 80%;
  height: 40px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}
.filterSec
  .CityWidget
  .WidgetBody
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
}
.filterSec .CityWidget .WidgetBody .search-container {
  padding: 0;
}
.filterSec .CityWidget .WidgetBody .search-container button {
  width: 20%;
  float: right;
  padding: 6px 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 3px;
  background-color: #ff0000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
}

.rangeOut {
  padding: 10px 0 0;
  font-size: 16px;
}
.MinMaxRange {
  padding: 0 0 10px;
  font-size: 16px;
}
.MinRange {
  float: left;
}
.MaxRange {
  float: right;
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  .wapper .pageDtl {
    margin: 0 15px 30px;
  }
  .wapper {
    width: 100%;
    margin: 40px auto;
  }
  .filter {
    padding: 0;
  }
  .filter h5 {
    float: none;
    padding: 30px 0 13px 15px;
  }
  .sidenav {
    width: 300px !important;
    left: 0;
    padding: 0 !important;
  }
  .sidenav .filterSec {
    background-color: #ffffff;
    border-radius: 0;
    padding: 0 0 120px;
    box-shadow: 0 0 0;
    border-top: solid 1px #e5e5e5;
  }
  .ProductListSec {
    padding-left: 0 !important;
  }
  .sidenav li {
    padding: 6px 0;
    line-height: 20px;
  }
  .sidenav li > a {
    padding: 0;
    font-weight: 100;
    height: auto;
    line-height: 20px;
  }
  .sidenav li > a:hover {
    background: none;
  }
  .filterBand {
    display: block;
  }
  .filterBand a {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: #ff0000;
    padding: 10px;
    z-index: 10000;
  }
  .filterBand i.material-icons {
    vertical-align: text-bottom;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .wapper {
    width: 100%;
    margin: 40px auto;
  }
  .filter {
    padding: 0 0 0 15px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 641px) {
  .ProductListSec .sortby {
    width: auto;
    float: none;
    margin: 0 15px;
  }
  .ProductListSec h5 {
    float: none;
  }
}

.MuiTypography-body1{
  font-size: 16px !important;
  color: #000000 !important;
  padding: 2px 0 0;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif !important;
}

.resetFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px 0 5px;
}
