@charset "utf-8";

/***********Fonts*************/

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
form {
  margin: 0;
}

.clr {
  clear: both;
}

.padL0 {
  padding-left: 0 !important;
}

.wapper {
  width: 1200px;
  margin: 40px auto;
}

.select-wrapper input.select-dropdown {
  border: none;
  padding: 0;
  margin: 0;
}
.ProductListSec {
  padding: 0 0 0 14px !important;
}
.ProductListSec h5 {
  font-size: 16px;
  padding: 28px 0 13px 14px;
  float: left;
}
.ProductListSec .sortby {
  width: 274px;
  float: right;
  margin: 0 14px 0 0;
  border-radius: 4px;
  border: solid 1px rgba(35, 43, 43, 0.4);
  background-color: #ffffff;
  padding: 0 20px;
  margin-bottom: 13px;
}
.ProductListSec .Prod {
  height: auto;
  padding: 0 14px 28px;
}
.ProductListSec .Product {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.ProductListSec .Product:hover {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
.ProductListSec .Product img {
  max-width: 100%;
  padding: 3px;
}
.ProductListSec .Product .detail {
  padding: 19px;
}
.ProductListSec .Product .detail h3 {
  font-size: 18px;
  padding-bottom: 0;
  font-weight: bold;
  text-align: center;
}
.ProductListSec .Product .detail p.price {
  font-size: 20px;
  color: #ff0000;
  margin: 0;
  font-weight: bold;
  margin-top: 10px;
}
.ProductListSec .Product .detail p.price img.rupees {
  width: 16px;
  vertical-align: sub;
  color: #ff0000;
}
.ProductListSec .Product .detail p.price strong {
  font-family: RupeeForadian;
  font-size: 21px;
  font-weight: bold;
}
.ProductListSec .Product .detail ul.detailPoints {
  list-style: none;
  margin: 20px 0 0 0;
}
.ProductListSec .Product .detail ul.detailPoints li {
  padding: 4px 0 4px 23px;
  font-size: 14px;
  width: 50%;
  float: left;
}
.ProductListSec .Product .detail ul.detailPoints li.year {
  background: url(../../assets/images/icons/calender.png) 0 7px no-repeat;
}
.ProductListSec .Product .detail ul.detailPoints li.km {
  background: url(../../assets/images/icons/km.png) 0 7px no-repeat;
}
.ProductListSec .Product .detail ul.detailPoints li.cc {
  background: url(../../assets/images/icons/cc.png) 0 7px no-repeat;
}
.ProductListSec .Product .detail ul.detailPoints li.owner {
  background: url(../../assets/images/icons/owner.png) 0 7px no-repeat;
}
.ProductListSec .Product .detail ul.detailPoints li.location {
  background: url(../../assets/images/icons/location.png) 0 7px no-repeat;
}
.ProductListSec .pagination {
  text-align: center;
}
.ProductListSec .pagination li {
  height: 40px;
  padding: 0;
}
.ProductListSec .pagination li:last-child {
  margin-left: 30px;
}
.ProductListSec .pagination li a {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  padding: 5px;
  border: solid 1px rgba(35, 43, 43, 0.4);
  background-color: #fff;
  margin: 0 7px;
}
.ProductListSec .pagination li.disabled a {
  border-radius: 25px;
  cursor: default;
  color: #999;
  opacity: 0.4;
  padding: 5px;
  border: solid 1px rgba(35, 43, 43, 0.4);
  background-color: #fff;
  margin-right: 30px;
  pointer-events: none !important;
}
.ProductListSec .pagination li.active {
  background: none;
}
.ProductListSec .pagination li.active a {
  border-radius: 25px;
  color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px #ffffff;
  background-color: #ff0000;
}
.ProductListSec .pagination li.dot a {
  box-shadow: 0;
  border: none;
  background-color: transparent;
  font-size: 30px;
  margin: 0;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #333;
}

.filterBand {
  display: none;
}

.vehicleGalSec {
  padding: 0 15px 0 0 !important;
}
.vehicleGal {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 !important;
}
.vehicleDetails {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
}
.vehicleDetails .PriceSec {
  border-bottom: #a8a9ab solid 1px;
  text-align: center;
  padding: 21px 0 28px;
}
.vehicleDetails .PriceSec p.price {
  font-size: 36px;
  color: #ff0000;
  margin: 0;
  font-weight: bold;
  padding: 0 0 5px;
}
.vehicleDetails .PriceSec p.price strong {
  font-family: RupeeForadian;
  font-size: 38px;
}
.vehicleDetails .PriceSec span {
  display: inline-block;
  font-size: 20px;
  color: #ff0000;
  margin: 0;
  padding: 3px 15px;
}
.vehicleDetails .PriceSec span.del {
  font-size: 20px;
  color: #ff0000;
  text-decoration: line-through;
}
.vehicleDetails .PriceSec span.del strong {
  font-family: RupeeForadian;
  font-size: 21px;
}
.vehicleDetails .PriceSec span.save {
  font-size: 20px;
  color: #fff;
  background: #000;
  border-radius: 4px;
  font-weight: bold;
}

.vehicleDetails .ProductDetail {
  padding: 25px;
  border-bottom: #a8a9ab solid 1px;
}
.vehicleDetails .ProductDetail ul.detailPoints {
  list-style: none;
}
.vehicleDetails .ProductDetail ul.detailPoints li {
  padding: 10px 0 10px 38px;
  font-size: 20px;
  width: 33%;
  float: left;
}
.vehicleDetails .ProductDetail ul.detailPoints li.year {
  background: url(../../assets/images/icons/calender-dtl.png) 0 6px no-repeat;
}
.vehicleDetails .ProductDetail ul.detailPoints li.km {
  background: url(../../assets/images/icons/km-dtl.png) 0 6px no-repeat;
}
.vehicleDetails .ProductDetail ul.detailPoints li.cc {
  background: url(../../assets/images/icons/cc-dtl.png) 0 6px no-repeat;
}
.vehicleDetails .ProductDetail ul.detailPoints li.owner {
  background: url(../../assets/images/icons/owner-dtl.png) 0 6px no-repeat;
}
.vehicleDetails .ProductDetail ul.detailPoints li.location {
  background: url(../../assets/images/icons/location-dtl.png) 0 6px no-repeat;
}

.ProductForm {
  padding: 15px 25px;
}
.ProductForm .form-group {
  margin: 15px 0;
}
.ProductForm .form-group label.fieldname {
  font-size: 18px;
  padding: 6px 0 0 10px;
  font-size: bold !important;
  color: #232c2b;
}
.ProductForm .form-group label.fieldname span {
  font-size: 18px;
  padding-left: 30px;
}
.ProductForm .form-group input[type="text"] {
  background: #e9eaea;
  height: 40px;
  border-radius: 4px;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  color: #333;
  padding: 5px 10px;
}
.ProductForm .form-group input[type="text"]::placeholder {
  color: #666;
}
.ProductForm
  .form-group
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
}
.ProductForm .form-group input.name {
  background: #e9eaea url(../../assets/images/icons/name.png) 340px 9px no-repeat;
}
.ProductForm .form-group input.contact {
  background: #e9eaea url(../../assets/images/icons/mobile.png) 340px 9px no-repeat;
}
.ProductForm .form-group input.email {
  background: #e9eaea url(../../assets/images/icons/email.png) 340px 9px no-repeat;
}
.ProductForm .form-group .btn {
  background: #ff0000;
  padding: 6px 30px;
  border-radius: 24px;
  height: 48px;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: none;
}

.vehicleSummarySec,
.vehicleReportSec {
  padding: 50px 12px 0 0 !important;
}
.vehicleSummary,
.vehicleReport {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  border-radius: 5px;
  padding: 40px;
}
.vehicleSummary h3 {
  font-size: 24px;
  color: #fe0000;
  font-weight: bold;
  margin-bottom: 15px;
}
.vehicleSummary h4 {
  font-size: 18px;
  color: #232c2b;
  font-weight: bold;
}
.vehicleSummary p {
  font-size: 16px;
  color: #232c2b;
}
.vehicleSummary ul.list {
  margin: 15px;
}
.vehicleSummary ul.list li {
  background: url(../../assets/images/icons/bullet.png) 0 13px no-repeat;
  padding: 5px 0 5px 20px;
}

.vehicleReport h2,
.vehicleAdvantage h2 {
  font-size: 36px;
  color: #fe0000;
  font-weight: bold;
  margin-bottom: 15px;
}
.vehicleReport p {
  font-size: 18px;
  color: #232c2b;
}

.vehicleAdvantageSec {
  background-color: #e5e5e5;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}
.vehicleAdvantage {
  padding: 40px;
}
.vehicleAdvantage h2 {
  color: #232c2b;
}
.vehicleAdvantage .advantageSec {
  padding: 0 10%;
}
.vehicleAdvantage .advantageSec .advantage .advantageIconLeft {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.vehicleAdvantage .advantageSec .advantage h3 {
  background: #e9eaea url(../../assets/images/icons/mobile.png) 340px 9px no-repeat;
}
.cardConntainer{
  min-height: 2110px;
}


