.carousel .thumb img {
  height: 40px;
  transition: transform 0.5s ease;
}

.carousel .thumb:hover {
  border: none !important;
}

.carousel .thumb:hover img {
  height: 55px;
  transform: scale(1.5);
}

.carousel .thumb.selected img {
  height: 55px;
  transform: scale(1.5);
  border: none !important;
}

.carousel .thumb {
  border: none !important;
}

@import '~react-image-gallery/styles/css/image-gallery.css';

/* in modal */
.image-gallery-slide img {
  width: 100%;
  height: 600px;
}

.carousel .slide {
  text-align: justify;
}

.carousel .slide img {
  position: absolute;
  /* object-fit: contain; */
  object-fit: scale-down;
  pointer-events: all;
}

.image-gallery-fullscreen-button {
  display: none;
}

.image-gallery-icon {
  position: fixed;
  padding: 0;
}
.image-gallery-icon:focus {
  background-color: transparent;
}

.image-gallery-content.left .image-gallery-slide .image-gallery-image,
.image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 85vh;
  position: relative;
  object-fit: scale-down;
}
