.watermarked {
  position: relative;
}

.watermarked:after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  position: absolute;
  background-image: url("soldOut.png");
  background-position: 30px 30px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.watermarkedCard:after{
    top: 1%;
    left: 20%;
    background-size: 150px 150px;
}

.watermarkedCarousel:after{
  top: 1%;
  left: 20%;
  background-size: 400px 400px;
}