body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 150px;
  padding-left: 37px;
  margin-top: 34px;
}
.bold {
  font-weight: 600;
}
#search {
  background-color: #fed0d1;
}
#search::-webkit-input-placeholder {
  /* Edge */
  color: #332d2d;
}

#search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #332d2d;
}

#search::placeholder {
  color: #332d2d;
}
#searchForm label {
  background: #232c2b;
  width: 86px;
  text-align: center;
  cursor: pointer;
}
.indicators {
  display: none;
}
.slider {
  height: 500px !important;
}
.slides {
  height: 500px !important;
}
/* .slider > ul > li > img{
  background-size: 1350px 480px !important; 
} */
.slides h4 {
  font-size: 24px;
  letter-spacing: 1.5px;
  padding-left: 37px;
  margin: 15px 0px;
}
.slides h4 > span{
  margin-left: 15px;
}
.caption {
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(0px) translateY(0px) !important;
  top: 0px !important;
  left: 0px !important;
  height: 100% !important;
  width: 100% !important;
}
.section-2,
section-3 {
  padding: 25px 0px 50px 0px;
}
.section-2 h3 {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
  color: #232c2b;
}
.section-2-heading {
  margin-bottom: 72px;
}
.section-3 h3 {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: 800;
  font-size: 24px;
  color: #232c2b;
  letter-spacing: 1px !important;
}
.section-3-heading {
  margin-bottom: 55px;
}
.section-2 h5{
  color: #232c2b;
  font-weight: bold;
  white-space: nowrap;
  font-size: 18px;
}
.section-3 h5 {
  color: #ff0000;
  font-weight: bold;
  white-space: pre-line;
  font-size: 20px;
}
.section-3 {
  background-color: #f5f5f5;
  /* padding-bottom: 20px; */
}
.section-4 {
  padding-top: 5px;
}
.section-4 h3 {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px !important;
}
.spacing {
  padding-top: 40px;
}
.gola {
  background-color: white;
  width: 108px;
  height: 108px;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.gola-2 {
  background-color: white;
  width: 108px;
  height: 108px;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.advantage-subtitle {
  margin: 5px 0 0 25px;
  font-size: 15px;
  padding: 0px 30px; 
  font-weight: 500;
}

.arrow-container {
  height: 350px;
  justify-content: center;
}
i.icon-black {
  color: black;
}
#testimonialMessage {
  /* min-height: 146px; */
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.47px;
  font-weight: 400;
  padding: 0px 75px;
  text-align: center;
  /* margin-bottom: 25px; */
}
.footer {
  min-height: 208px;
  background-color: #404040;
  padding: 40px 40px 43px 40px;
}
.footer .row:nth-child(1) {
  margin-bottom: 29px;
}
.footer .row:nth-child(2) {
  margin-bottom: 40px;
}
.footer a {
  color: white;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1.5px;
}
.copyright {
  font-size: 12px !important;
  letter-spacing: 1.29px;
}
.last-row {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.tick-icon {
  width: 1.1% !important;
  height: 3% !important;
}
#topNav {
  height: 44px;
  line-height: 44px !important;
  background-color: #000000;
  padding: 0px 42px 0px 38px;
}
#topNav li {
  height: 22px;
  line-height: 22px;
}
#topNav a {
  font-size: 0.9em;
  letter-spacing: 0.4px;
}
#topNav .left-ul li:nth-child(1) {
  padding-right: 19px;
}
#topNav .left-ul li:nth-child(2) {
  padding-left: 34px;
}
.Line {
  width: 1px;
  height: 20px;
  opacity: 0.5;
  border: solid 1px #ffffff;
  display: inline-block;
}
.nav-icons {
  height: 34px !important;
  line-height: 34px !important;
}
.nav-container {
  padding: 0px 20px 0px 5px;
}
.icon-wrapper {
  display: inline-block;
  width: 13px;
  height: 20px;
  margin-top: 5px;
}
.second-nav-wrapper {
  margin-bottom: 0px;
}
.input-field input[type="text"]:focus {
  border-bottom: none !important;
  box-shadow: none !important;
}
.box-shadow {
  width: fit-content;
  border-radius: 15px;
  padding: 15px !important;
  cursor: pointer;
}
.box-shadow:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gola-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
#clientName {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.71px;
  margin-bottom: 25px;
  margin-top: -30px;
}
.carousel-search-container {
  width: 499px;
  height: 66px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 37px;
}
.carousel-location-btn {
  width: 26%;
  float: left;
  cursor: pointer;
  height: inherit;
  background-color: #d6d6d6;
  opacity: 0.7;
  padding: 17px 0px 22px 15px;
}
.carousel-search-box {
  width: 56.77%;
  float: left;
  height: inherit;
  background-color: #fff;
}
.carousel-search-box input {
  height: inherit !important;
  padding-left: 16px !important;
}
.carousel-search-box input::placeholder {
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.11px;
  font-weight: 100;
}
.carousel-location-btn span {
  margin-left: 10px;
}
.carousel-location-btn img {
  width: 25px !important;
  height: 20px !important;
  background-size: 23px 20px !important;
  margin-top: 5px;
  margin-right: 3px;
  float: left;
}
.loc-text {
  margin-top: 3px;
  color: #000;
  font-size: 16.8px;
  font-weight: 500;
}
.carousel-search-label {
  height: inherit;
  width: 15.23%;
  background-color: #ff0000;
  float: right;
  border: none;
  cursor: pointer;
}
.carousel-search-label img {
  background-size: 40px 40px !important;
  background-repeat: no-repeat !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.carousel {
  max-height: 350px !important;
}

.carousel .carousel-item {
  opacity: 1 !important;
  width: 250px !important;
  height: 250px !important;
}

.carousel-item img {
  width: inherit !important;
  height: inherit !important;
}

.phone-number {
  border-right: 1px solid #fff;
}

.login {
  border-right: 1px solid #fff;
  padding-right: 19px;
}

.signup {
  padding-left: 19px;
}
.hfdc {
  margin-left: 2px;
}
.content {
  padding: 40px;
}
.advantageRow {
  margin-bottom: 15px;
  padding-top: 15px;
}
#routing {
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  padding: 16px 19px 13px 19px;
}
#slideLeft,
#slideRight {
  margin-top: 110px;
}
.padHorizontal5{
  padding: 0px 5px;
}
.advantage-subtitle-1{
  padding: 0px 30px;
  margin-top: 5px;
}

.floatRight {
  float: right !important;
}
