.wapper {
  margin: 40px auto;
}
.subHeading {
  padding-top: 43.8px;
  padding-bottom: 15px;
  font-weight: 800;
  font-size: 36px;
  color: #232c2b;
}
#shareYourDetailsContainer {
  margin-top: 10px;
}

#shareYourDetailsForm {
  padding:  50px 40px 15px 40px;
}
#shareYourDetailsForm
  .form-group
  input[type="text"]:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
}
#shareYourDetailsForm .form-group .btn {
  background: #ff0000;
  padding: 6px 20px;
  border-radius: 24px;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: none;
  margin-left: 10px;
  margin-top: 40px;
}
.vehicle-images{
    margin-left: 15px;
    background: #ff0000;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffff;
    width: 250px;
    border: none;
    font-weight: 500;
}
.vehicle-image-uploader{
    margin: 20px 0px;
}
.invalid-feedback{
  color: #ff0000;

}
.steps{
  width: 900px;
  height: 360px;
  background: url(../../assets/steps-to-sell.svg) 0 3px no-repeat; background-size: 900px 360px;
}
label{
  font-size: 13px;
}
.transparent {
  color: transparent;
}
.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  border: 1px solid #d1d1d1;
}
.image-preview-carousel {
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 20px;
  /* border: 1px solid #d1d1d1; */
  }
.preview-image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.preview-image-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.delete-icon {
  cursor: pointer;
  margin-left: 8px;
}
